/* Reset style untuk menghilangkan margin dan padding default */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Gaya dasar untuk body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Gaya untuk header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Gaya untuk container pada setiap section */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

/* Gaya untuk section "Home" */
#home {
  background-color: #f8f8f8;
}

/* Gaya untuk section "Tentang Kami" */
#about {
  background-color: #e0e0e0;
}

/* Gaya untuk section "Layanan" */
#services {
  background-color: #f8f8f8;
}

#services ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#services ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#services ul li h3 {
  flex-basis: 30%;
  font-size: 18px;
}

#services ul li p {
  flex-basis: 70%;
  font-size: 16px;
}

/* Gaya untuk section "Kontak" */
#contact {
  background-color: #e0e0e0;
  padding-bottom: 40px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #444;
}

/* Gaya untuk footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Gaya untuk responsif */
@media screen and (max-width: 768px) {
  header h1 {
      font-size: 20px;
  }

  nav ul li {
      margin-right: 5px;
  }

  .container {
      padding: 20px;
  }

  form input, form textarea {
      padding: 8px;
  }
}
